HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
/out/


#VsCode
.vscode/

# Carpetas de Compilación (¡Muy importante!)
target/
build/
*.class
bin/

#MongoDB
.mongo_data/

# Logs del sistema
*.log

# Configuraciones locales de base de datos o docker si las tienes locales
.env
.env.*
!.env.example