

.vscode/


# ARCHIVOS TEMPORALES Y LOGS

*.log
*.log.*
temp/
tmp/


# INFRAESTRUCTURA LOCAL Y BASES DE DATOS

# Datos locales de contenedores Docker (¡Crucial para no subir gigas de datos!)
.docker/
.mongo_data/
docker/volumes/

# Archivos de variables de entorno locales con contraseñas reales
.env
.env.local


# SISTEMA OPERATIVO

Thumbs.db


# === Maven ===

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.note
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/.maven-wrapper.jar


# === Spring Boot ===
*.log
.h2.db
.env
.env.*
application-dev.properties
application-local.properties
application-*.yml